<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Helpmeplz"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".SideMenu"-->
<!--            android:exported="false" />-->
        <activity
            android:name="com.hufsice.nulltime.AddFriend"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.FindFriendComplete"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.FindFriendFailed"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.AddFriendFailed"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.AddFriendComplete"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.FindFriend"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.CreateGroup"
            android:exported="false" />
<!--        dddd-->
        <activity
            android:name="com.hufsice.nulltime.GroupList"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.MyGroup"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.SearchID"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.Menu"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.MyFriend"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.Log_in"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hufsice.nulltime.Sign_in"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.UploadImage"
            android:exported="false" />

        <activity
            android:name="com.hufsice.nulltime.FindNullTime"
            android:exported="false" />
        <activity
            android:name="com.hufsice.nulltime.FindFriendExists"
            android:exported="false" />

    </application>

</manifest>