<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Helpmeplz"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".SideMenu"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".AddFriend"
            android:exported="false" />
        <activity
            android:name=".AddFriendComplete"
            android:exported="false" />
        <activity
            android:name=".AddFriendFailed"
            android:exported="false" />
        <activity
            android:name=".NoFriendRequest"
            android:exported="false" />
        <activity
            android:name=".CheckFriend"
            android:exported="false" />
        <activity
            android:name=".FindFriend"
            android:exported="false" />
        <activity
            android:name=".CreateGroup"
            android:exported="false" />
        <activity
            android:name=".GroupList"
            android:exported="false" />
        <activity
            android:name=".MyGroup"
            android:exported="false" />
        <activity
            android:name=".SearchID"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".MyFriend"
            android:exported="false" />
        <activity
            android:name=".Log_in"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sign_in"
            android:exported="false" />
        <activity
            android:name=".UploadImage"
            android:exported="false" />

        <activity
            android:name=".FindNullTime"
            android:exported="false" />

    </application>

</manifest>